@import url('https://fonts.googleapis.com/css2?family=Lora&family=Pacifico&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.3s;
}

body{
    background: url('./images/background.png') no-repeat center fixed; 
    background-size: cover;
    min-width: 550px;
}

.App{
    width: 98vw;
    height: 100vh;
}

@import 'map-container';
@import 'card-section';
